body{
    background: url("Frozen-2-Zoom-Background.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    
    box-sizing: border-box;
}


.container{
    background: rgba(207, 179, 179, 0.375);
    max-width:  40%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 30px;
    margin: 5% 30% 10% 30%;
    /* font-weight: 700; */
}

button{
    color: white;
    padding: 15px;
    background:transparent;
    font-size: 22px;
    border: 1px solid  rgb(205, 184, 184);
    border-radius: 17px;
    margin: 20px 20% 20px 20%;
    cursor: pointer;
    font-weight: bold;
    width: 60%;
}

input{
    background: transparent;
    font-size: 25px;
    padding: 10px;
    border-radius: 18px;
    width: 100%;
    border:1px solid rgb(205, 184, 184);
    outline: none;
}

select{
    background: transparent;
    color: white; 
    font-size: 20px;
    padding:8px;
    outline: none;
    border: 1px solid  rgba(205, 184, 184, 0.61);
    border-radius: 10px; 
    margin: 15px;
    cursor: pointer;
}
option{
    background: rgba(60, 51, 51, 0.709);
  
}

.dropdown{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 30px;
}

img{
    font-size: 1rem;
}

.msg{
    color: rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 5px;
    margin: 20px;
    font-weight: bold;
}
.select-container{
    border: 1px solid  rgb(205, 184, 184);
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

i{
    position: relative;
    top: 50px;
}